body{
	padding: 0;
	margin: 0;
}
.main-header .navbar-brand {
    display: inline-block;
    float: none;
    margin-top: 10px;
    color: #d5d5d5;
     font-size: 16px;
      padding-left: 30px;
}
.main-header .navbar-brand:hover {
    color: #d5d5d5;
}
.main-header .navbar-default {
    background-color: transparent;
    border: medium none;
    border-radius: 0;
    margin-bottom: 0;
}
.custom-logo {
    float: left;
}
.main-header {
    background: #4d4d4d none repeat scroll 0 0;
    padding-bottom: 15px;
    padding-top: 15px;
}
.main-header .navbar-nav li.active a {
    background: transparent none repeat scroll 0 0 !important;
    color: #d5d5d5 !important;
}
.main-header .navbar-nav li a{
    color: #d5d5d5;
    padding: 7px 15px;
     font-size: 16px;
}
.main-header .navbar-nav li a:hover {
    color: #d5d5d5;
}
.main-header .navbar-nav {
    margin-top: 20px;
}
.main-header .navbar-form {
    margin: 0;
}
.main-header .yneer-login {
    background: #47ff0b none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff !important;
    font-weight: bold;
    margin-left: 20px;
    padding: 7px 25px !important;
    text-transform: uppercase;
}
.main-header .navbar-form input {
    border-radius: 5px !important;
}
.landing-inner {
    text-align: center;
     color: #fff;
     padding-top: 70px;
}
.landing-main {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #4d4d4d;
    background-image: none;
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 100px;
}
.landing-inner h2 {
    font-size: 60px;
}
.landing-inner p {
    font-size: 20px;
    margin: 0;
    padding-bottom: 60px;
    padding-top: 50px;
}
.sign-up a {
    background: #47ff0b none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    border: 3px solid #47ff0b ;
    display: inline-block;
    font-size: 30px;
    width: 270px;
     padding: 20px 0;
    text-transform: uppercase;
}
.virtual-tour a {
    border-radius: 5px;
    color: #fff;
    border: 3px solid #fff ;
    display: inline-block;
    font-size: 30px;
    width: 270px;
     padding: 20px 0;
    text-transform: uppercase;
}
.virtual-tour a:hover, .sign-up a:hover{
	text-decoration: none;
}
.landing-buttons {
    display: block;
    margin: 0 auto;
    max-width: 680px;
    width: 100%;
}
.grey-bg {
    background: #333333 none repeat scroll 0 0;
}
.login-widget {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    max-width: 500px;
    padding: 10px 60px;
    text-align: center;
    width: 100%;
}
.inner-login h2 {
    color: #405050;
    font-weight: bold;
    margin: 0;
    padding-bottom: 20px;
}
.btn.login-button {
    background: #47ff0b none repeat scroll 0 0;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    width: 100%;
}
.inner-login .checkbox {
    text-align: left;
}
.inner-login .forget {
    text-align: right;
}
.forget a {
    color: #47ff0b;
    display: inline-block;
    font-weight: bold;
    margin-top: 10px;
}
.forget a:hover {
   text-decoration: none;
}
.main-header .yneer-login:hover, .main-header .yneer-login:focus {
    background: #47ff0b none repeat scroll 0 0 !important;
}
.main-header .navbar-form {
    width: 250px;
}
.main-header .navbar-form .input-group {
    width: 100%;
}
#login .modal-dialog, #signup .modal-dialog {
    margin: 120px auto 30px;
    max-width: 500px;
    width: 100%;
}
.or p {
    background: #fff none repeat scroll 0 0;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 0 auto;
    padding: 10px 20px;
    text-align: center;
}
.or {
    background: rgba(0, 0, 0, 0) url("../images/line-bg.jpg") repeat-x scroll center center;
}
.facebook-button i, .google-button i {
    color: #fff;
    font-size: 30px;
    left: 0;
    padding: 7px;
    position: absolute;
}

.facebook-button a, .google-button a {
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
}
.facebook-button a:hover, .google-button a:hover {
    text-decoration: none;
}
.facebook-button {
    background: #2048de none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 15px;
    margin-top: 10px;
    position: relative;
}
.google-button {
    background: #F91C21 none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    position: relative;
}
.register-yet {
    margin-top: 15px;
}
.register-yet p{
	color: #404C4A;
}
.register-yet a{
	color: #47ff0b;
	font-weight: bold;
}
.register-yet a:hover{
	text-decoration: none;
}
.landing-page {
    text-align: center;
}
.landing-page h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 70px;
    margin-top: 70px;
}
.request-image img {
    width: 100%;
}
.request-para p {
    color: #434343;
    font-size: 16px;
    font-weight: bold;
    padding-top: 15px;
}
.request-widget.custom-padding {
    padding-left: 35px;
    padding-right: 35px;
   
}
.request-widget.custom-padding.arrow {
    position: relative;
}
.request-widget.custom-padding.arrow::after {
    background: transparent url("../images/arrow.png") no-repeat scroll 0 0;
    content: "";
    height: 70px;
    position: absolute;
    right: -55px;
    top: 70px;
    width: 80px;
}
.post-question {
    float: right;
}
.post-question a {
    background: #46fe14 none repeat scroll 0 0;
    border: 3px solid #46fe14;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 24px;
    padding: 20px 0;
    width: 220px;
}

.watch-video {
    float: left;
}
.watch-video a {
    background: #fff none repeat scroll 0 0;
    border: 3px solid #46fe14;
    border-radius: 5px;
    color: #46fe14;
    display: inline-block;
    font-size: 24px;
    padding: 20px 0;
    width: 220px;
}
.post-question a:hover, .watch-video a:hover, .post-question a:focus, .watch-video a:focus {
    text-decoration: none;
}
.landing-page .landing-buttons {
    margin-top: 50px;
}